{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Order Locations{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Locations:</h2>

  <p>Location count: {{ count }}</p>
  <p>{% for cust in customer %}{{cust.name}}+{% endfor %}</p>

  <div id="mapid"></div>
{% endblock %}

{% block script %}
<script>
function getResponse(endpoint) {
  console.log("Getting Response")
  return fetch(endpoint)
      .then(function(response) {
        return response.json();
      });
}

function logLocations(locations) {
  console.log("logging.");
  // console.log(locations);
  for(var i = 0; i < locations.length; i++) {
    console.log(locations[i]['name']);
  }
}

function addMarkers(map, locations) {
  let myIcon = new L.divIcon({className: 'my-div-icon'});

  for(var i = 0; i < locations.length; i++) {
    let lng = locations[i]['lng'];
    let lat = locations[i]['lat'];
    console.log(lng, + " ", + lat);
    L.marker([lat, lng], {icon: myIcon}).addTo(map);
  }
}

function failureCallback(error) {
  console.log("Error getting locations: " + error);
}


function run() {
    let accessToken = "pk.eyJ1IjoiYmVubGVobWFuIiwiYSI6ImNqeHc2YThpMjBjZXIzYnFzcjczbnRqaWoifQ.lxxzkqRpnwBXpkvbOaKrpA"
    let mymap = new L.map('mapid').setView([37.09, -95.7129], 4);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 19
    }).addTo(mymap);

    let endpoint = 'https://aunt-flow-mapping.herokuapp.com/api/orders'

    let loc_response = getResponse(endpoint);
    loc_response.then(addMarkers.bind(null, mymap), failureCallback);
}

if (document.readyState!='loading') run();

else if (document.addEventListener) document.addEventListener('DOMContentLoaded', run);

else document.attachEvent('onreadystatechange', function(){
    if (document.readyState=='complete') run();
});
</script>
{% endblock %}